.left-sidebar{
    width: 164px;
    box-shadow: 1px 1px 0 rgba(0,0,0, 0.2);
    transition: box-shadow ease-in-out 0.1s, transform ease-in-out 0.1s;
    transform: translateZ(0);
    box-sizing: border-box;
    font-size: 13px;
    margin-top: 10px;
}
.bar{
    height: 2px;
    width: 70%;
    background-color: #000;
    display: grid;
    padding: 2px;
    border-radius: 15px;
    transition: .4s ease;
}
#menu{
    width: 35px;
    height: 30px;
    margin-top: 61px;
    cursor: pointer;
    margin-left: 50%;
    display: grid;
}

.side-nav{
    height: auto;
    max-width: 100%;
    position: sticky;
    margin: 15px 0px;
    padding: 20px 0px;
   }

.side-nav-div{
    padding: 10px 0px;

}

.side-nav-div div{
    padding-left: 10px 0px;
}

.side-nav-links{
    text-decoration: none;
    color: #3a3a3a;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10px;
    transition: 0.2s;
}

.side-nav-links:hover{
    color: black;
}

.active{
    font-weight: bolder;
    color: black;
    background-color: rgb(225, 225, 225);
    border-right: solid 3px #ef8236;
}
@media only screen and (max-width:970px){
        .left-sidebar{
            width: 90px;
            font-size: 9px;
        }
       
        .side-nav{
            text-decoration: none;
            margin-top: 30px;
        color: #3a3a3a;
        display: table-footer-group;
        align-items: start;
        justify-content: start;
        padding-left: 10px;
        transition: 0.2s;
        margin-left: 5px;
        display: block;
        }

}
@media only screen and (max-width:500px){
    .left-sidebar{
        width: 90px;
        
}
.side-nav{
text-decoration: none;
margin-top: 75px;
color: #3a3a3a;
display: list-item;
align-items: start;
/* justify-content: start; */
padding-left: -58px;
transition: 0.2s;
margin-left: 22px;
border: 1px solid #3a3a3a!important;
max-width: 165px;
position: initial;
margin-left: 5px;
background: #f1e5bc;
}
#menu{
    display: grid;
}
.bar{
    display: block;
}
}
@media only screen and (max-width:400px){
    .left-sidebar{
        width: 100%;
        position: absolute;
    }

    .side-nav{
        text-decoration: none;
        margin-top: 75px;
        color: #3a3a3a;
        display: list-item;
        align-items: start;
        /* justify-content: start; */
        padding-left: -58px;
        transition: 0.2s;
        margin-left: 22px;
        border: 1px solid #3a3a3a!important;
        max-width: 165px;
        position: initial;
        margin-left: 5px;
        background: #f1e5bc;
         
    }
    #menu{
        display: grid;
        position: absolute;
        z-index: 4;
        margin-left: 5px;
        margin-top: 45px;
    }
    .bar{
        display: block;
    }
    
}